<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des étudiants</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<h1>Liste des étudiants</h1>

<div th:if="${students.isEmpty()}">
    <p>Aucun étudiant trouvé</p>
</div>

<div th:if="${!students.isEmpty()}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.getLastname()}"></td>
            <td th:text="${s.getFirstname()}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${s.getId()})}" class="btn btn-info btn-sm">Voir détail</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<p><a th:href="@{/}" class="btn btn-primary">Accueil</a></p>
<p><a th:href="@{/add}" class="btn btn-success">Ajouter</a></p>
</body>

</html>